/* CSS RESET */

html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

html {
  font-size: 16px;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.title-section {
  height: 70px;
  width: calc(100vw - 50px);
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
}

p {
  text-align: center;
  font-size: 1rem;
}

.game-section {
  min-height: 70px;
  width: calc(100vw - 50px);
  border: 5px solid black;
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
}

.game-data {
  display: flex;
  flex-direction: column;
}

#tetris {
  border: 5px solid black;
  max-height: 600px;
  max-width: 300px;
  width: 50vw;
  height: 100vw;
  box-sizing: border-box;
}
#next-piece {
  border: 5px solid black;
  max-height: 140px;
  max-width: 140px;
  width: 10vw;
  height: 10vw;
  box-sizing: border-box;
}
#score {
  border: 5px solid black;
  max-height: 50px;
  max-width: 140px;
  width: 10vw;
  height: 3vw;
  box-sizing: border-box;
}
