html,
body,
header,
nav,
h1,
h3,
h4,
h5,
h6,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-width: 900px;
  min-height: 800px;
  background-color: #f2f2f2;
}
#root {
  display: grid;
  grid-template-rows: 90px 670px 40px;
  flex-direction: column;
  width: 900px;
  height: 800px;
  padding: 20px;
  box-sizing: border-box;
}
.title-section {
  height: 70px;
  width: 860px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.game-section {
  width: 860px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}
.game {
  display: flex;
  justify-content: space-around;
}

.game-data {
  display: flex;
  flex-direction: column;
}

.game-data > p {
  text-align: center;
}

.section-title {
  font-weight: 700;
}

#tetris {
  margin: 2px;
  border: 2px solid black;
  width: 300px;
  height: 600px;
  box-sizing: border-box;
}
#next-piece,
#saved-piece {
  padding-bottom: 10px;
  max-height: 140px;
  max-width: 140px;
  box-sizing: border-box;
}

#score,
#level,
#rows {
  margin-left: 2px;
  border: 2px solid black;
  max-height: 50px;
  max-width: 140px;
  min-height: 20px;
  line-height: 20px;
  box-sizing: border-box;
}

.play {
  justify-self: flex-end;
  font-size: 30px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
  border: 4px solid green;
  border-radius: 4px;
  background-color: green;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}
.game-info {
  display: flex;
  flex-direction: column;
}

.game-info > div {
  padding-bottom: 30px;
}

.game-mode {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.game-selection-button {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  border: 1px solid lightgreen;
  border-radius: 4px;
  padding: 10px;
  background-color: lightgreen;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls-header {
  font-weight: 700;
  font-size: 1.25rem;
}
.controls-header > div {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* padding-left: 10px; */
}

img {
  display: inline;
  width: 20px;
  height: 20px;
  line-height: 1.5rem;
}
