/* CSS RESET */

html,
body,
header,
nav,
h1,
h3,
h4,
h5,
h6,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
#root {
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: 90px 1fr 40px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.title-section {
  height: 70px;
  width: calc(100vw - 50px);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  text-align: center;
  font-size: 1rem;
}

.game-section {
  min-height: 70px;
  width: calc(100vw - 50px);
  /* border: 5px solid black; */
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}
.game {
  display: flex;
}

.game-data {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 700;
}

#tetris {
  margin: 2px;
  border: 2px solid black;
  max-height: 600px;
  max-width: 300px;
  width: 50vw;
  height: 100vw;
  box-sizing: border-box;
}
#next-piece,
#saved-piece {
  padding-bottom: 10px;
  max-height: 140px;
  max-width: 140px;
  box-sizing: border-box;
}
#next-piece {
  /* margin-left: 2px; */
}
#saved-piece {
  /* margin-right: 2px; */
}
#score,
#level,
#rows {
  margin-left: 2px;
  /* background: lightskyblue; */
  border: 2px solid black;
  max-height: 50px;
  max-width: 140px;
  /* width: 10vw;
  height: 3vw; */
  min-height: 20px;
  line-height: 20px;
  box-sizing: border-box;
}
